:root {
  --border-color: grey;
}
* {
  margin: 0;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}
.left {
  width: 40rem;
  border-right: 1px solid var(--border-color);
  padding: 1rem 0.5rem;
}

.center {
  width: calc(100% - 40rem);
  padding: 1rem;
}

.top {
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
  background: rgb(151, 151, 197);
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
